.header {
	width: 320px;
	margin: 10px auto 10px auto;
}
#links {
	margin-top: 30px;
}
.header-hr {
	margin:-5px 0 0 0;
}
.header .header-hr {
	margin-right: 8px;
	margin-left: 8px;
	height: 10px;
}
.header nav {
	position: static;
	float: right;
	margin-right: 15px;
	display: none;
}
#links {
    margin-top: 5px;
}
ul#links {
	top: 0;
}
ul#links li {
	float:left;
	display:block;
	margin:0 0 0 20px;
}
#main {
	min-height:300px;
	margin:0 auto;
	vertical-align:middle;
	width:320px;
	text-align: left;
}
#main article {
	margin-bottom: 20px;
}
.article-date {
	color: #161616;
	font-family: georgia,serif;
	font-size: 26px;
	font-style: italic;
	margin-top: -4px;
	padding: 0 10px 0 0;
	text-align: center;
	width: 80px;
	float: left;
	display: none;
}
.article-body {
	float:left;
	width: 300px;
	margin-left: 10px;
}
#main article .about {
    float: left;
    margin-left: 10px;
    width: 300px;
}
.article-body footer .explain p {
	width:300px;
	margin: 0;
	float: left;
}
.footer .more .more-body {
	width: 320px;
}
.more-articles {
    clear: both;
    font-style: italic;
	margin: 25px 12px 15px 12px;
    margin-bottom: 15px;
    margin-right: 12px;
    margin-top: 25px;
}
.elsewhere-list {
	margin-left: 12px;
	margin-right: 12px;
}
.elsewhere-list .item {
    float: left;
	width: 100px;
    margin: 0 0 5px 15px;
    padding: 1px 0 0 23px;
}
.elsewhere-list .no-icon {
    background: none repeat scroll 0 0 transparent;
    float: none;
    margin: 0 0 5px 0;
    padding: 1px 0 0;
}
.grid-list {
	width: 320px;
} 
.footer .more .more-body .grid {
	width: 280px;
	margin: 0 auto 0 auto;
	margin-left: 12px;
}
.footer .more .more-body .grid-list .grid.tags {
	width: 280px;
	margin-bottom: 12px;
	margin-top: 12px;
}
.footer .more .more-body .grid-list .grid.most-read {
	width: 280px;
	float: left;
	margin-left: 12px;
	margin-bottom: 12px;
	margin-top: 12px;
}
.footer .more .more-body .grid-list .grid.archive {
	width: 280px;
	padding-left:  0;
	margin-bottom: 12px;
	margin-top: 12px;
}
.footer .more .more-body .grid .row .item {
	width: 260px;
}
.archive .item {
	width: 260px;
}
.footer .more .copyright {
	width: 320px;
	margin-top: 10px;
}

.copyright div {
	float: none;
}
.license-logo {
	width: 88px;
	height: 31px;
	margin: 8px auto 0 auto;
}
.license-text {
	width:300px;
	text-align:left;
	margin-left: 12px;
	margin-top: 5px;
}

#main .info {
	margin-left: 12px;
}

#main .article-body {
	border-bottom: 1px solid #AAAAAA;
	margin-bottom: 10px;
}

#main .article-body section,
#main .article-body footer {
	display: none;
}

#main .article-body:first-child section,
#main .article-body:first-child footer {
	display: block;
}

.pagination {
	margin-left: 10px;
}